<div class="profile-container">
	<div class="profile-header">
		<span>{{ user.name | uppercase }}</span>
	</div>
	<div class="profile-data">
		<div class="profile-user-info">
			<img class="profile-user-photo" [src]="user.photoPath" />
			<div class="profile-user-contacts">
				<p>Phone: {{ user.phone }}</p>
				<p>Email: {{ user.email }}</p>
			</div>
		</div>
		<hr />
		<div class="profile-add-car">
			<button mat-icon-button class="profile-add-car-button">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<mat-accordion class="car-info-container">
			<mat-expansion-panel class="profile-car-info" *ngFor="let car of user.cars">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{car.model}}
					</mat-panel-title>
					<mat-panel-description class="profile-car-info-desc">
						<span>{{car.number}}</span><span>{{car.color}} </span><span>{{car.experience}}</span>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<app-car-info-form [car]="car"></app-car-info-form>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
	<div class="close-profile">
		<button mat-icon-button class="close-profile-button" (click)="close()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>