<div class="profile-container">
	<div class="profile-header">
		<span>{{ user.name | uppercase }}</span>
	</div>
	<div class="profile-data">
		<div class="profile-user-info">
			<img class="profile-user-photo" *ngIf="user.photoPath; else elseBlock" [src]="user.photoPath" />
			<ng-template #elseBlock>
				<div class="invalid-photo-icon"><i class="material-icons">account_circle</i></div>
			</ng-template>
			<div class="profile-user-contacts">
				<p>Phone: {{ user.phone }}</p>
				<p>Email: {{ user.email }}</p>
			</div>
		</div>
		<hr />
		<ng-container *ngIf="user.cars.length < maxNumOfCars">
			<div class="profile-add-car">
				<button mat-icon-button class="profile-add-car-button" (click)="toggleAddCarForm()" *ngIf="!addCarMod">
					<mat-icon class="profile-car-icon-add">add</mat-icon>
				</button>
				<button mat-icon-button class="profile-close-car-button" (click)="toggleAddCarForm()" *ngIf="addCarMod">
					<mat-icon class="profile-car-icon-close">close</mat-icon>
				</button>
			</div>
		</ng-container>
		<form [formGroup]="carsInfoForm" name="cars-info-form" (ngSubmit)="onSubmitCarsChanges()">
			<mat-accordion class="car-info-container" *ngIf="!addCarMod">
				<mat-expansion-panel class="profile-car-info" *ngFor="let curCar of user.cars; let index = index">
					<mat-expansion-panel-header>
						<mat-panel-title class="profile-car-info-title">
							{{ curCar.model }}
						</mat-panel-title>
						<mat-panel-description class="profile-car-info-desc">
							<span class="profile-car-info-desc-item">{{ curCar.carNumber }}</span
							><span class="profile-car-info-desc-item">{{ curCar.color }} </span
							><span class="profile-car-info-desc-item">{{ curCar.experience }}</span>
							<button
								mat-icon-button
								class="car-info-delete profile-car-info-desc-item"
								(click)="onCarDelete($event, index)"
							>
								<mat-icon class="car-info-delete-icon">delete</mat-icon>
							</button>
						</mat-panel-description>
					</mat-expansion-panel-header>
					<app-car-info-form
						[carIndex]="index"
						[carInfoForm]="carsInfoForm"
						[addCarMod]="addCarMod"
						(onChangeCarInfo)="onChange()"
					></app-car-info-form>
				</mat-expansion-panel>
			</mat-accordion>
			<div class="add-car-container" *ngIf="addCarMod">
				<app-car-info-form
					class="add-car-form"
					[addCarMod]="addCarMod"
					(onChangeCarInfo)="onSubmitNewCar($event)"
				>
				</app-car-info-form>
			</div>
			<div class="cars-form-submit">
				<button
					#submitChanges
					type="submit"
					mat-raised-button
					class="cars-form-submit-button"
					[disabled]="true"
					*ngIf="!addCarMod"
				>
					Save changes
				</button>
			</div>
		</form>
	</div>
	<div class="close-profile">
		<button mat-icon-button class="close-profile-button" (click)="close()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>
