@import '../../../../styles/fonts-constants'
@import '../../../../styles/colors'
@import '../../../../styles/constants'
@import '../../../../styles/mixins'
@import '../../../../styles/trip'

.form-row
  display: flex
  justify-content: center
  align-items: center
  @include flexbox(space-between)
  border: 1px solid mat-color($primary, A100)
  width: 100%
  height: 100%
.position-car
  margin-left: $default-offset
.position-seats
  margin-right: $default-offset
