<div class = "page">
<div id="login-form">
    <div class = "exadel-login">
      <img src="../../../../assets/images/FullColor_Word-1.png" alt="exadel-logo">
    </div>

  <fieldset >
    <form>
      <form (submit)="onSubmit($event)">
        <img src="./../../../assets/images/identity.png" >
        <input type="login" [(ngModel)]="login" name = "login" required placeholder="Login" >
        <img src="./../../../assets/images/lock.png" >
        <input type="password"  [(ngModel)] = "password" name = "password"class = "user-info"  >
        <div class = "center">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </form>
      <footer class="clearfix">
        <p><span class="info">?</span><a  href="#">Forget password?</a></p>
      </footer>
    </form>
  </fieldset>
  </div>
</div>

