@import "../../../../styles/constants"

.modal-wrapper
  .modal-content
    width: 100%
    font-size: $default-offset*0.9
    width: 22rem
    .table-tr
      text-align: center
    .table-passenger-name,.table-count-stars
      text-align: center
  .table-th
    width: 4rem


