<div class="modal-wrapper">
	<header class="modal-header">
		<span class="modal-title">Rate Passengers</span>
	</header>

	<table class="modal-content">
		<thead>
			<tr class="table-tr">
				<th class="table-th">Passenger</th>
				<th class="table-th">Stars</th>
				<th class="table-th">Rating</th>
        <th class="table-th">Blacklist</th>
			</tr>
		</thead>
		<tbody>
    <tr [ngClass]="{'passenger-row-active': passenger.isAddedToBlackList}"
        *ngFor="let passenger of passengers;let i = index; trackBy: trackById">
				<td class="table-passenger-name">
					{{ passenger.name }}
				</td>
      <td class="rating-td">
					<app-rating
						[rating]="passenger.rating"
						[itemId]="passenger.id"
						(ratingClick)="rateUser($event)"
					></app-rating>
				</td>
				<td class="table-count-stars">{{ passenger.rating }} Stars</td>
      <td class="blacklist">
        <button mat-icon-button (click)="addToBlacklist(i)"><i class="material-icons">
          thumb_down
        </i></button>
      </td>
			</tr>
		</tbody>
	</table>

	<div class="modal-footer">
		<button class="modal-action-btn" mat-raised-button (click)="exitTrip()">
			exit trip
		</button>
	</div>
</div>
