@import "../../../../styles/constants"
@import "../../../../styles/colors"
.modal-wrapper
  .modal-content
    overflow-y: auto
    width: 100%
    font-size: $default-offset*0.9
    .table-tr
      text-align: center
    .table-passenger-name-block,.table-count-stars
      text-align: center
      width: 2rem
    .table-passenger-name
      width: 5.2rem

  .blacklist
    display: flex
    justify-content: center

  .rating-td
    display: flex
    justify-content: center

  .passenger-row-active
    background-color: $light-red

