@import "../../../../styles/constants"
@import "../../../../styles/colors"
.modal-wrapper
  .modal-content
    width: 100%
    font-size: $default-offset*0.9
    .table-tr
      text-align: center
    .table-passenger-name,.table-count-stars
      text-align: center
  .table-th

  .blacklist
    display: flex
    justify-content: center

  .rating-td
    display: flex
    justify-content: center

  .passenger-row-active
    background-color: $light-red

