<div class="modal-wrapper">
	<header class="modal-header">
    <span *ngIf="data.dataKey === 1" class="modal-title">Rate Passengers</span>
    <span *ngIf="data.dataKey === 0" class="modal-title">Rate Driver</span>
	</header>

	<table class="modal-content">
		<thead>
			<tr class="table-tr">
				<th class="table-th">Passenger</th>
				<th class="table-th">Stars</th>
				<th class="table-th">Rating</th>
        <th class="table-th">Blacklist</th>
			</tr>
		</thead>
		<tbody>

    <ng-container *ngIf="data.dataKey === 1">
      <tr [ngClass]="{'passenger-row-active': passenger.isAddedToBlackList}"
          *ngFor="let passenger of passengers;let i = index; trackBy: trackById">
        <td class="table-passenger-name">
          {{ passenger.name }}
        </td>
        <td class="rating-td">
          <app-rating
            [rating]="passenger.rating"
            [itemId]="passenger.id"
            (ratingClick)="rateUser($event)"
          ></app-rating>
        </td>
        <td class="table-count-stars">{{ passenger.rating }} Stars</td>
        <td class="blacklist">
          <button mat-icon-button (click)="addToBlacklist(i)"><i class="material-icons">
            thumb_down
          </i></button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="data.dataKey === 0">
      <tr [ngClass]="{'passenger-row-active': driver.isAddedToBlackList}">
        <td class="table-passenger-name">
          {{ driver.name }}
        </td>
        <td class="rating-td">
          <app-rating
            [rating]="driver.rating"
            [itemId]="driver.id"
            (ratingClick)="rateDriver($event)"
          ></app-rating>
        </td>
        <td class="table-count-stars">{{ driver.rating }} Stars</td>
        <td class="blacklist">
          <button mat-icon-button (click)="addDriverToBlacklist()"><i class="material-icons">
            thumb_down
          </i></button>
        </td>
      </tr>
    </ng-container>

    </tbody>
	</table>

	<div class="modal-footer">
		<button class="modal-action-btn" mat-raised-button (click)="exitTrip()">
      submit
		</button>
	</div>

  <div class="modal-close-control">
    <button class="modal-close-control-btn" mat-icon-button (click)="exit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
