<form [formGroup]="carInfoForm" class="car-form">
	<mat-form-field class="car-form-field">
		<input 	matInput placeholder="Model" value="{{car.model}}" class="car-from-input">
	</mat-form-field>
	<mat-form-field class="car-form-field">
		<input matInput placeholder="Color" value="{{car.color}}" class="car-from-input">
	</mat-form-field>
	<mat-form-field class="car-form-field">
		<input matInput placeholder="Number" value="{{car.number}}" class="car-from-input">
	</mat-form-field>
	<mat-form-field class="car-form-field">
		<input matInput placeholder="Experience" value="{{car.experience}}" class="car-from-input">
	</mat-form-field>
</form>