@import '../../../../../styles.sass'

.car-form
    @include flexbox(space-around, center, column)
    .car-form-field
        width: 100%
    .form-error
        font-family: $app-font
        color: mat-color($warn, 200)
        font-size: $body-1
        margin-top: -$default-offset