@import '../../../../styles.sass'

.rating
  float: left
  border: none
.rating:not(:checked) > input
  position: absolute
  clip: rect(0,0,0,0)

.rating:not(:checked) > label
  float: right
  width: 1rem
  padding: 0.1rem
  overflow: hidden
  white-space: nowrap
  cursor: pointer
  font-size: $button
  line-height: 1rem
  color: mat-color($primary, A100)
.rating:not(:checked) > label:before
  content: '★ '

.rating > input:checked ~ label
  color: mat-color($primary,400)

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
  color: mat-color($primary,700)

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
  color: mat-color($primary,50)
