@import "../../../../styles.sass"

.rating
  float: left
  border: none
.rating:not(:checked) > input
  position: absolute
  clip: rect(0,0,0,0)

.rating:not(:checked) > label
  float: right
  width: 1rem
  padding: $default-offset * 0.1
  overflow: hidden
  white-space: nowrap
  cursor pointer
  font-size: $button
  line-height: $default-offset
  color: $grey
.rating:not(:checked) > label:before
  content: '★ '

.rating > input:checked ~ label
  color: $orange

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label
  color: $gold

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label
  color: $light-orange
