@import "/Users/fpm.kazachin/EHitchhiking/ehitchhiking-ui/src/app/shared/constants/constants.sass"

.example-container
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.example-radio-group
  display: block
  border: 1px solid #555
  margin: 20px
  padding: 10px

.menu
  width: 20%

.material-icons
  font-size: 40px
  margin: 5px


.header
  display: flex
  justify-content: space-around
  span
    font: 100% $font-stack
  .settings
    font-size: 32px
    margin-top: 10px

.buttons
  li
    display: block
    margin: 5px
    button
      width: 100%
      height: 50px
      font-size: 16px
  .log-out
    margin-left: 10%
    width: 80%
footer
  p
    margin: 5px
    a
      display: block
  time
    margin: 25%

