<mat-sidenav-container class="sidenav-container" [ngClass]="{'sidenav-container-opened': opened}">
	<mat-sidenav class="menu" #sidenav mode="side" [(opened)]="opened" [ngClass]="{'menu-opened': opened}">
		<div class="header">
			<button mat-icon-button (click)="openProfileDialog()" class="header-button">
				<mat-icon class="header-button-icon account-icon">account_circle</mat-icon>
			</button>
			<span class="header-span truncated" [matTooltip]="currentUser ? currentUser.getFullName() : 'Anonymous'">{{
				currentUser ? currentUser.getFullName() : 'Anonymous'
			}}</span>
			<div class="modal-close-control">
				<button mat-icon-button class="modal-close-control-btn header-button" (click)="sidenav.toggle()">
					<mat-icon class="header-button-icon close-icon">close</mat-icon>
				</button>
			</div>
		</div>
		<div class="buttons">
			<li class="li-buttons">
				<button mat-raised-button class="li-button" (click)="openHistoryDialog()">
					history
				</button>
			</li>
			<li class="li-buttons">
				<button mat-raised-button class="li-button" (click)="openActiveDialog()">
					active trips
				</button>
			</li>
			<li class="li-buttons">
				<button (click)="openBlacklistDialog()" mat-raised-button class="li-button">
					blacklist
				</button>
			</li>
			<button mat-stroked-button class="log-out" (click)="logOut()" routerLink="/login">
				log out
			</button>
		</div>
		<footer class="footer-meta">
			<img src="assets/images/footer.png" alt="exadel-logo" />
		</footer>
	</mat-sidenav>

	<mat-sidenav-content>
		<button *ngIf="!opened" mat-button (click)="sidenav.toggle()" class="toggle-button">
			<i class="material-icons">
				reorder
			</i>
		</button>
		<button mat-icon-button class="chat-btn" (click)="openChatDialog()">
			<i class="material-icons">
				forum
			</i>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>
