<mat-sidenav-container class="sidenav-container">
	<mat-sidenav class="menu" #sidenav mode="side" [(opened)]="opened">
		<div class="header">
			<i class="material-icons">account_circle</i>
			<span class="mat-subheading-2 header-span">name</span>
			<i class="material-icons settings">
				settings
			</i>
		</div>
		<div class="buttons">
			<li class="li-buttons">
				<button mat-raised-button color="primary" class="li-button">history</button>
			</li>
			<li class="li-buttons">
				<button mat-raised-button color="primary" class="li-button">saved</button>
			</li>
			<li class="li-buttons">
				<button mat-raised-button color="primary" class="li-button">active</button>
			</li>
			<li class="li-buttons">
				<button mat-raised-button color="primary" class="li-button">notifications</button>
			</li>
			<li class="li-buttons">
				<button
					(click)="openBlacklistDialog()"
					mat-raised-button
					color="primary"
          class="li-button"
				>
					blacklist
				</button>
			</li>
			<li class="li-buttons">
				<button mat-raised-button color="primary" class="li-button">
					admin functionality
				</button>
			</li>
			<button
				mat-stroked-button
				color="primary"
				class="log-out"
				(click)="openRatePassengersDialog()"
			>
				<!--TODO: it's redundant here, but not now-->
				rate passengers
			</button>
			<button mat-stroked-button color="primary" class="log-out" (click)="logOut()" routerLink="/login">
				log out
			</button>
		</div>
		<footer class="footer-meta">
			<img src="assets/images/footer.png" alt="exadel-logo" />
			<p class="footer-p">
				<a class="footer-a" href="mailto: raul221299@gmail.com"
					>raul221299@gmail.com</a
				>
				<a class="footer-a" href="mailto:  elizabeth.kemerov@gmail.com">
					elizabeth.kemerov@gmail.com</a
				>
				<a class="footer-a" href="mailto: yana.bernachkaya@gmail.com"
					>yana.bernachkaya@gmail.com</a
				>
				<a
					class="footer-a"
					href="mailto:  alexey.chernyakov00@gmail.com"
				>
					alexey.chernyakov00@gmail.com</a
				>
				<a class="footer-a" href="mailto: garost99@mail.ru"
					>garost99@mail.ru</a
				>
				<a class="footer-a" href="mailto: youliaromanova99@mail.ru"
					>youliaromanova99@mail.ru</a
				>
			</p>
			<p>
				<time datetime="2019-03-21" class="footer-date"
					>2019-07-08</time
				>
			</p>
		</footer>
	</mat-sidenav>

	<mat-sidenav-content>
		<button mat-button (click)="sidenav.toggle()" class="toggle-button">
			<i class="material-icons">
				reorder
			</i>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>
