@import "../../../../styles/fonts-constants"
@import "../../../../styles/colour-constants"

.sidenav-container
  height: 100%
  position: fixed
  top: 0
  background-color: $white
  .header
    display: flex
    justify-content: space-around
    .header-span
      font: 100% $app-font
    .settings
      font-size: 2rem
      margin-top: 1rem
  .material-icons
    font-size: $headline
    margin: 0.5rem
  .buttons
    .li-buttons
      display: block
      margin: 0.5rem
      .li-button
        width: 100%
        height: 3rem
        font-size: $button
  .log-out
    margin-left: 10%
    width: 80%
  .footer-meta
    .footer-p
      margin: 0.5rem
      .footer-a
        display: block
    .footer-date
      margin: 25%
  .toggle-button
    margin-top: 2.2rem
    padding: 0
    min-width: 1.5rem
    position: fixed

