@import "../../../../styles/colors"
@import "../../../../styles/constants"
@import "../../../../styles/fonts-constants"
.routes-list
  z-index: 1
  background-color: $white
  height: 22.5rem
  width: 30rem
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2)
  border-radius: 0.2rem
  text-align: center
  position: absolute
  margin-left: -240px
  bottom: 4rem
  left: 50%
  position: fixed
  overflow-y: hidden
  .routes
    overflow-y: scroll
    height: 18rem
  .routes-list-p
    display: flex
    justify-content: space-between
    .material-icons
     font-size: $headline
  .right-span
    text-align: center
    display: flex
    align-items: center
    justify-content: center
  .routes-interface
    display: flex
    justify-content: space-between
.header
  height: 5rem!important // default <mat-expansion-panel-header> height = 48px
  padding: $default-offset/2
.title
  display: flex
  align-items: center
  justify-content: center
