@import "../../../../styles/colors"
$trip-registration-form-height: 18rem
$trip-registration-form-width: 20rem
.trip-registration-form
  position: relative
  z-index: 2 // more than map z-index, and menu z-index
  background-color: $white
  height: $trip-registration-form-height
  width: $trip-registration-form-width
  margin-left: auto
  margin-right: auto
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2)
  border-radius: 0.2rem
  .input-from,.input-to
    margin-top: 0.2rem
    display: block
    width: 18rem
    margin-left: auto
    margin-right: auto
  .date-picker,.time-picker
    margin-top: 0.2rem
    width: 8.5rem
    margin-left: 1rem
  .registration-form-bottom-content
    margin-top: 0.2rem
    width: 18rem
    margin-left: 1rem
    display: flex
    justify-content: space-between
    align-items: center
  .submit-button
    background-color: $yellow
    margin-left: auto
    margin-right: auto
  .places-select
    width: 8.5rem
    margin-right: 1rem
