<div class="page">
	<div id="login-form">
		<div class="exadel-login">
			<img src="../../../assets/images/exadel-logo-horizon.png" alt="exadel-logo" />
		</div>

		<fieldset class="user-info">
			<form class="form-img">
				<form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit($event)">
					<mat-form-field class="form-row">
						<i class="material-icons">
							perm_identity
						</i>
						<input
							matInput
							formControlName="login"
							class="input"
							name="login"
							placeholder="Login"
						/>
						<mat-error *ngIf="hasError('login', 'pattern')">Login must has 5 and more symbols: 0-9a-zA-Z and starts with the a-zA-Z</mat-error>
					</mat-form-field>
					<mat-form-field class="form-row">
						<i class="material-icons">
							lock
						</i>
						<input matInput formControlName="password" class="input" name="password" />
						<mat-error *ngIf="hasError('password', 'pattern')">Password must has 5 and more symbols: 0-9a-zA-Z or . and starts with the a-zA-Z</mat-error>
					</mat-form-field>
					<div class="center">
						<button type="submit" class="btn" mat-raised-button color="primary">
							Login
						</button>
					</div>
				</form>
				<footer class="clearfix">
					<p><span class="info">?</span><a class="hover-info" href="#">Forget password?</a></p>
				</footer>
			</form>
		</fieldset>
	</div>
</div>
