@import '../../../../styles/fonts-constants'
@import '../../../../styles/constants'


.no-data-block-lg
  vertical-align: middle
  .material-icons
    font-size: $display-2
  .no-data-text
    font-size: $title

.no-data-block-md
  .material-icons
    font-size: $display-3
  .no-data-text
    font-size: $subheading-2

.no-data-block-sm
  .material-icons
    font-size: $title
  .no-data-text
    font-size: $button

.no-data-wrapper
  z-index: 10000
  position: absolute
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  .no-data-block
    .icon-wrapper
      text-align: center
.background
  background-color: rgba(255, 255, 255, 0.6)





