<div class="for-passenger" *ngIf="trip.role === userState.Passenger">
	<mat-card class="size">
		<mat-card-title class="center title">
			Driver<button mat-raised-button color="accent" class="show-trip-button" (click)="showTrip()">
				show trip
			</button>
		</mat-card-title>
		<mat-card class="info-container">
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="Name:" matTooltipPosition="right">Name:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.driver.name" matTooltipPosition="left">{{ trip.driver.name }}</span>
				</div>
			</div>
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="Phone:" matTooltipPosition="right">Phone:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.driver.phone" matTooltipPosition="left">{{ trip.driver.phone }}</span>
				</div>
			</div>
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="E-mail:" matTooltipPosition="right">E-mail:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.driver.email" matTooltipPosition="left">{{ trip.driver.email }}</span>
				</div>
			</div>
		</mat-card>

		<mat-card-title class="center title">Car</mat-card-title>
		<mat-card class="info-container">
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="Model" matTooltipPosition="right">Model:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.car.model" matTooltipPosition="left">{{ trip.car.model }}</span>
				</div>
			</div>
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="Car Number:" matTooltipPosition="right">Car Number:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.car.number" matTooltipPosition="left">
						{{ trip.car.number }}
					</span>
				</div>
			</div>
			<div class="height-item-info form-row">
				<div class="field-note-name truncated">
					<span matTooltip="Color:" matTooltipPosition="right">Color:</span>
				</div>
				<div class="field-note-value truncated">
					<span [matTooltip]="trip.car.color" matTooltipPosition="left">
						{{ trip.car.color }}
					</span>
				</div>
			</div>
		</mat-card>
	</mat-card>
</div>
<div class="for-driver" *ngIf="trip.role === userState.Driver">
	<mat-card-title class="center title">
		Passengers<button mat-raised-button color="accent" class="show-trip-button" (click)="showTrip()">
			show trip
		</button>
	</mat-card-title>
	<mat-list *ngFor="let passenger of trip.passenger">
		<mat-list-item>
			<mat-list class="form-row">
				<mat-list-item>Name: {{ passenger.name }} </mat-list-item>
				<mat-list-item>Phone: {{ passenger.phone }} </mat-list-item>
				<mat-list-item>E-mail: {{ passenger.email }} </mat-list-item>
			</mat-list>
		</mat-list-item>
		<mat-divider></mat-divider>
	</mat-list>
</div>
<app-no-data [isEmpty]="trip.passenger.length === 0"></app-no-data>
