@import '../../../../styles/colors'
@import '../../../../styles/constants'
@import '../../../../styles/mixins'

.form-row
  @include flexbox(space-between)
.info-container
  margin: auto
  margin-bottom: 1rem
  max-width: 350px
  background: mat-color($accent, 100)
  opacity: 0.9
  color: $white
.height-item-info
  height: 2rem
.center
  text-align: center
.font-size
  font-size: $default-offset*1.2
