.btn-group
  position: fixed
  z-index: 3
  bottom: 0rem
  width: 100%
  .passanger-btn
    width: 50%
  .driver-btn
    width: 50%
.plus-btn
  position: fixed
  z-index: 1
  bottom: 5rem
  right: 2rem




