@import '~@angular/material/theming'
@import 'styles/colour-theme'
@import 'styles/fonts-constants'
@import 'styles/modals'
@import 'styles/constants'
@import 'styles/mixins'

.truncated
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

html, body
  font: $body-1 $app-font



