@import 'styles/colors'
@import 'styles/fonts-constants'
@import 'styles/constants'
@import 'styles/mixins'
@import 'styles/modals'

.truncated
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

html, body
  font: $body-1 $app-font



