.blacklist-title
  position: relative
  left: 40%
.blacklist
  height: 20rem
  overflow-y: scroll
  overflow-x: hidden
  padding: 0rem
  margin: 0.5rem
  .blacklist-user
    border: 1px solid black
    display: flex
    justify-content: space-around
    align-items: center
    .profile-photo
      font-size: 4rem
    .remove-icon
      font-size: 2rem
      display: table
      vertical-align: middle
      color: #990000
    .blacklist-user-name
      font-size: 1rem
      margin-top: 1rem
      width: 10rem
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
.blacklist-back-btn
  left: 40%
  position: relative
