<div *ngIf="message" class="blacklist-window">
  <p>Blacklist</p>
  <div class="blacklist">
    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surnameорпрмрамрпсмрссрпспсрпсрпспрспр</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>

    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surname</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>

    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surnamejhjhvjhvjhhjbbjhb</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>

    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surname</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>

    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surname</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>

    <div class="blacklist-user">
      <i class="material-icons profile-photo">account_circle</i>
      <p class="blacklist-user-name">Name Surname</p>
      <i class="material-icons remove-icon">remove_circle</i>
    </div>
  </div>
</div>
