$main-font: Montserrat-Regular, Cambia
$light-font: Montserrat-Light, Cambia
$bold-font: Montserrat-Bold, Cambia

$display-1: 5rem
$display-2: 4rem
$display-3: 3rem
$headline: 2.8rem
$title: 2.6rem
$subheading-1: 2.4rem
$subheading-2: 2.2rem
$body-1: 1.2rem
$body-2: 1rem
$caption: 0.8rem
$button: 1rem
$input: 1.4rem
