.modal-wrapper
  position: relative
  .modal-header
    .modal-title
      text-align: center
  .modal-footer
    display: flex
    align-items: center
    justify-content: center
    .modal-action-btn
      background-color: mat-color($primary, 300)

.mat-dialog-no-padding .mat-dialog-container
    padding: 0
