@import  'constants'

.start-end-point
  margin: $default-offset-value-of-trip
.user-role-icon
  margin: $default-offset-value-of-trip
  margin-left: $default-offset
  flex: 1
.trip-points
  flex: 5
.test
  display: block
