@import '../../../../styles/fonts-constants'
@import '../../../../styles/colors'
@import '../../../../styles/mixins'
@import '../../../../styles/modals'
@import  '../../../../styles/constants'

.btn-back
  display: flex
  justify-content: center
  padding-bottom: $default-padding
  height: 1rem
.trips
  height: calc(#{$trip-card-height}*#{$number-of-trips-in-list} + #{$height-borders-of-trip-in-list} )
  overflow-Y: scroll
  overflow-x: hidden
  margin: $default-padding
  margin-bottom: 0
  display: flex
  flex-direction: column
  position: relative
  .trips-container
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
