<div class="modal-wrapper">
	<app-pre-loading [isLoading]="loading" [size]="loaderSize"></app-pre-loading>
	<header class="modal-header ">
		<span mat-dialog-title class="trips-title">History</span>
		<i class="material-icons icon-size">
			history
		</i>
	</header>

	<mat-expansion-panel>
		<mat-expansion-panel-header>Filters</mat-expansion-panel-header>
		<div class="form-row expansion-panel-sm">
			<mat-form-field class="filter-width">
				<mat-label>Role</mat-label>
				<mat-select [(ngModel)]="selectedRole" name="selected">
					<mat-option (click)="filterByRole()" *ngFor="let role of tripsModalService.roles" [value]="role.value">
						{{ role.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="filter-width">
				<mat-label>Status of trip</mat-label>
				<mat-select [formControl]="statuses" multiple>
					<mat-option
						(click)="filterByStatus()"
						*ngFor="let status of tripsModalService.statusesTrip"
						[value]="status.value"
						>{{ status.viewValue }}</mat-option
					>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="filter-width">
				<mat-label>Rating</mat-label>
				<mat-select [formControl]="ratings" multiple>
					<mat-option
						(click)="filterByRating()"
						*ngFor="let rate of tripsModalService.ratesTrip"
						[value]="rate.value"
						>{{ rate.viewValue }}</mat-option
					>
				</mat-select>
			</mat-form-field>

			<mat-slide-toggle [(ngModel)]="selectedFavorite">Favorite trips</mat-slide-toggle>
			<button [ngSwitch]="selectedBySort" (click)="ChangeSort()" class="modal-close-control-btn" mat-icon-button>
				<mat-icon *ngSwitchCase="0" title="not sort">
					call_split
				</mat-icon>
				<mat-icon *ngSwitchCase="1" title="ASC"> call_made</mat-icon>
				<mat-icon *ngSwitchCase="2" title="DESC">
					call_received
				</mat-icon>
			</button>
		</div>
	</mat-expansion-panel>

	<div mat-dialog-content class="trips">
		<div
			class="trips-container items-hover"
			*ngFor="
				let trip of tripsArray
					| filterByRole: tripsModalService.roleFilterConfig.roleField:selectedRole:tripsModalService.roleFilterConfig.isEnable
					| filterByFavorite: 'saved':selectedFavorite
					| filterByStatus
						: tripsModalService.statusFilterConfig.fieldName
						: tripsModalService.statusFilterConfig.selected
						: tripsModalService.statusFilterConfig.isEnabled
					| filterByRating
						: tripsModalService.ratingFilterConfig.fieldName
						: tripsModalService.ratingFilterConfig.selected
						: tripsModalService.ratingFilterConfig.isEnabled
					| sortTrips: 'rating':order
					| slice: 0:limit;
				trackBy: trackById
			"
		>
			<app-trip class="trip" [trip]="trip"></app-trip>
		</div>
		<div class="scroll-marker" #sMarker></div>

		<app-no-data *ngIf="!tripsArray.length" isEmpty="true"></app-no-data>
	</div>
	<footer>
		<div mat-dialog-actions class="trips-btn">
			<button mat-button (click)="replaceAll()" *ngIf="tripsArray.length">Replase all</button>
		</div>
	</footer>
	<div class="modal-close-control">
		<button class="modal-close-control-btn" mat-icon-button (click)="exit()">
			<mat-icon>close</mat-icon>
		</button>
	</div>
</div>
